.input {
  border: none;
  background: transparent;
  padding: 0;
  font-size: var(--fontSize4Xl);
  color: var(--textDark);
  text-align: right;
  caret-color: var(--colorAccent);
}

.input::placeholder {
  color: var(--textLightest);
}
